<div class="sidebar">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" routerLink="">
                <span class="align-middle">BiblioTech</span>
            </a>
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    General
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="">
                        <i class="fas fa-tachometer-alt"></i><span class="align-middle">Panel</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="users">
                        <i class="fas fa-users"></i><span class="align-middle">Usuarios</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="">
                        <i class="fas fa-book"></i><span class="align-middle">Libros</span>
                    </a>
                </li>
                <li class="sidebar-header">
                    Administrador
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="loans">
                        <i class="fas fa-hand-holding"></i><span class="align-middle">Prestamos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="">
                        <i class="fas fa-key"></i><span class="align-middle">Reservas</span>
                    </a>
                </li>
                <li class="sidebar-header">
                    Control
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="">
                        <i class="fas fa-stream"></i><span class="align-middle">Categorias</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="">
                        <i class="fas fa-pen-fancy"></i><span class="align-middle">Autores</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="">
                        <i class="fas fa-flag"></i><span class="align-middle">Nacionalidades</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="ubigeos">
                        <i class="fa-solid fa-location-dot"></i><span class="align-middle">Ubigeos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="roles">
                        <i class="fa-solid fa-unlock"></i><span class="align-middle">Roles</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>