
<div class="sidebar">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" routerLink="">
                <img src="assets/images/digital_book_logo.png" alt="Digital Book" style="width: 60px; height: 60px;">
                <span class="align-middle">  Digital Book</span>
            </a>
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Administrar
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="">
                        <i class="fas fa-tachometer-alt"></i><span class="align-middle">Panel</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="users">
                        <i class="fas fa-users"></i><span class="align-middle">Usuarios</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="book">
                        <i class="fas fa-book"></i><span class="align-middle">Libros</span>
                    </a>
                </li>
                <li class="sidebar-header">
                    Control - Usuarios
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="ubigeos">
                        <i class="fa-solid fa-location-dot"></i><span class="align-middle">Ubigeos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="roles">
                        <i class="fa-solid fa-unlock"></i><span class="align-middle">Roles</span>
                    </a>
                </li>
                <li class="sidebar-header">
                    Control - Libros
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="categories">
                        <i class="fas fa-stream"></i><span class="align-middle">Categorias</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="author">
                        <i class="fas fa-pen-fancy"></i><span class="align-middle">Autores</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="country">
                        <i class="fas fa-flag"></i><span class="align-middle">Nacionalidades</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>