<div class="modal-header">
    <h4 class="modal-title pull-left">{{categories && categories.id ? 'Editar categoria' : 'Nueva categoria'}}</h4>
</div>
<div class="modal-body">
    <form [formGroup]="categoriesForm">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="txtNames" formControlName="names" autocomplete="off"
                [ngClass]="{'is-invalid': f['names'].errors && (f['names'].touched || f['names'].dirty)}">
            <label for="txtNames">Nombre</label>
            <div *ngIf="f['names'].errors && (f['names'].touched || f['names'].dirty)" class="invalid-feedback">
                <span *ngIf="f['names'].hasError('required')">El nombre es obligatorio</span>
                <span *ngIf="f['names'].hasError('pattern')">La categoría debe ser una válida</span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveCategories()">{{categories && categories.id ? 'Actualizar' : 'Registrar'}}</button>
    <button type="button" class="btn btn-default" (click)="closeModal()">Cancelar</button>
</div>